<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Update Your Name -->
    <title>Stephen Hu - Resume</title>

    <!-- Update Description -->
    <meta name="description" content="Stephen Hu  - Resume" />

    <!-- Custom Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
    />

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  </head>
  <body>
    <main class="bg-white text-gray-800 min-h-screen">
      <div class="py-20 lg:py-24 px-6 mx-auto max-w-7xl">
        <div class="relative">
          <!-- Your Name -->
          <h1>Stephen Hu</h1>

          <div
            class="relative grid grid-cols-1 lg:grid-cols-4 gap-10 xl:gap-24 z-10"
          >
            <!-- Your Title -->
            <h2>Graduate Student in Health Informatics</h2>

            <div
              class="lg:flex lg:justify-between grid-3 xl:grid-3 lg:col-span-3 gap-4 mt-5 pt-4 border-t-2 border-gray-300"
            >
              <div class="flex items-center">
                <!-- Contact 1 Icon -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 shrink-0"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                  />
                </svg>

                <!-- Contact 1 -->
                <div class="ml-3">
                  <p class="mb-0 font-semibold text-sm">Email</p>
                  <p class="mb-0">
                    <a
                      href="mailto:stephen.hu@stonybrook.edu"
                      target="_blank"
                      rel="noreferrer"
                    >
                      stephen.hu@stonybrook.edu
                    </a>
                  </p>
                </div>
              </div>

              <div class="flex items-center">
                <!-- Contact 2 Icon -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 shrink-0"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6.75 7.5l3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0021 18V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v12a2.25 2.25 0 002.25 2.25z"
                  />
                </svg>

                <!-- Contact 2 -->
                <div class="ml-3">
                  <p class="mb-0 font-semibold text-sm">GitHub</p>
                  <p class="mb-0">
                    <a
                      href="https://github.com/stephe-hu"
                      target="_blank"
                      rel="noreferrer"
                    >
                      github.com/stephe-hu
                    </a>
                  </p>
                </div>
              </div>

              <div class="flex items-center">
                <!-- Contact 3 Icon -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 shrink-0"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6.115 5.19l.319 1.913A6 6 0 008.11 10.36L9.75 12l-.387.775c-.217.433-.132.956.21 1.298l1.348 1.348c.21.21.329.497.329.795v1.089c0 .426.24.815.622 1.006l.153.076c.433.217.956.132 1.298-.21l.723-.723a8.7 8.7 0 002.288-4.042 1.087 1.087 0 00-.358-1.099l-1.33-1.108c-.251-.21-.582-.299-.905-.245l-1.17.195a1.125 1.125 0 01-.98-.314l-.295-.295a1.125 1.125 0 010-1.591l.13-.132a1.125 1.125 0 011.3-.21l.603.302a.809.809 0 001.086-1.086L14.25 7.5l1.256-.837a4.5 4.5 0 001.528-1.732l.146-.292M6.115 5.19A9 9 0 1017.18 4.64M6.115 5.19A8.965 8.965 0 0112 3c1.929 0 3.716.607 5.18 1.64"
                  />
                </svg>

                <!-- Contact 3 -->
                <div class="ml-3">
                  <p class="mb-0 font-semibold text-sm">Website</p>
                  <p class="mb-0">
                    <a
                      href="www.stephenhu.tech"
                      target="_blank"
                      rel="noreferrer"
                    >
                      stephenhu.tech
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="absolute top-[-3rem] lg:top-[-3.5rem] -left-12 w-40 lg:w-[13rem] h-40 lg:h-[13rem] bg-teal-400 rounded-full"
          ></div>
        </div>

        <div class="grid-3 gap-10 lg:gap-24 items-start mt-12 lg:mt-24">
          <!-- Work Experience -->
          <div class="lg:col-span-2">
            <h3>Work Experience</h3>

            <!-- Work Experience 1 -->
            <div class="grid-3 gap-x-6">
              <div>
                <!-- Company 1 -->
                <h4 class="mb-1 lg:mb-4">Stony Brook University</h4>
                <p class="text-sm mb-1">
                  <a
                    href="https://resumewind.com/"
                    target="_blank"
                    rel="noreferrer"
                  >
                  https://www.stonybrook.edu/
                  </a>
                </p>
                <p class="text-sm">Sep. 2022 - Dec. 2022</p>
              </div>

              <div class="lg:col-span-2">
                <!-- Job Title 1 -->
                <h4 class="mb-4">Teaching Assistant</h4>
    
                <ul>
                  <li>Monitored a class of 140 students, answered questions from students, and assisted the professor during lectures</li>
                  <li>Responded to emails from students and hosted weekly office hours for tutoring and assignment assistance </li>
                  <li>Graded assignments and proctored exams throughout the semester</li>
                </ul>
              </div>
            </div>

            <!-- Work Experience 2 -->
            <div class="grid-3 gap-x-6 mt-8 lg:mt-12">
              <div>
                <!-- Company 2 -->
                <h4 class="mb-1 lg:mb-4">Claris Acupuncture Wellness Clinic</h4>
                <p class="text-sm mb-1">
                  <a
                    href="https://resumewind.com/"
                    target="_blank"
                    rel="noreferrer"
                  >
                  https://www.clarisacupuncture.com/
                  </a>
                </p>
                <p class="text-sm">Feb. 2022 - Apr. 2022</p>
              </div>

              <div class="lg:col-span-2">
                <!-- Job Title 2 -->
                <h4 class="mb-4">Medical Receptionist/Coordinator</h4>
                
                <ul>
                  <li>Prepared a clean and welcoming environment for patients</li>
                  <li>Managed 10+ daily calls from patients or insurance companies to schedule or confirm appointments, collect copayments, and verify insurance</li>
                  <li>Entered and updated patients’ medical, personal, and financial information into electronic medical records </li>
                </ul>
              </div>
            </div>

            <!-- Work Experience 3 -->
            <div class="grid-3 mt-8 lg:mt-12">
              <div>
                <!-- Company 3 -->
                <h4 class="mb-1 lg:mb-4">Stony Brook Athletics</h4>
                <p class="text-sm mb-1">
                  <a
                    href="https://resumewind.com/"
                    target="_blank"
                    rel="noreferrer"
                  >
                  https://stonybrookathletics.com/
                  </a>
                </p>
                <p class="text-sm">Sep. 2021 - May 2022</p>
              </div>

              <div class="lg:col-span-2">
                <!-- Job Title 3 -->
                <h4 class="mb-4">Sports Medicine Student Assistant</h4>
              
                <ul>
                  <li>Coordinated with other student assistants, coaches, and athletic trainers as a team to provide rapid responses to the football team consisted of 82 student athletes </li>
                  <li>Attentively followed the assigned unit and provided timely refreshment or basic first aid to individuals without interfering with the practice of the other student athletes </li>
                </ul>
              </div>
            </div>
          </div>

          <div>
            <!-- Profile -->
            <h3>Profile</h3>
            <p>
                Health Informatics graduate student with a strong foundation in healthcare IT, data management, and health informatics principles. Passionate about leveraging technology to improve patient care and streamline healthcare processes. Solid understanding of electronic health records (EHRs), health information exchange (HIE), and health data analytics. Skilled in data visualization, database management, and healthcare terminology. Strong analytical and problem-solving abilities with a collaborative mindset. Excellent communication skills and ability to work in interdisciplinary teams. Seeking opportunities to apply academic knowledge and skills to drive innovation in healthcare informatics.
            </p>

            <!-- Skills -->
            <h3 class="mt-12 lg:mt-16">Skills</h3>

            <!-- Skills 1 -->
            <h4>Programming Languages</h4>
            <ul>
              <li>JavaScript</li>
              <li>TypeScript</li>
              <li>Python</li>
              <li>C</li>
            </ul>

            <!-- Skills 2 -->
            <h4 class="mt-8">Libraries &amp; Frameworks</h4>
            <ul>
              <li>React.js</li>
              <li>Vue.js</li>
              <li>Next.js</li>
              <li>Gatsby.js</li>
            </ul>

            <!-- Education -->
            <h3 class="mt-12 lg:mt-16">Education </h3>
            <h4 class="mb-1">Stony Brook University</h4>
            <p class="mb-1">BS in Health Science, Concentration in Health Informatics</p>
            <h4 class="mb-1">Stony Brook University</h4>
            <p class="mb-1">MS in Applied Health Informatics</p>

            <!-- References -->
            <h3 class="mt-12 lg:mt-16">References</h3>

            <!-- Reference 1 -->
            <h4 class="mb-1">Anthony Indelicato</h4>
            <p>Director of Radiology</p>

            <!-- Reference 2 -->
            <h4 class="mt-8 mb-1">Hants Williams</h4>
            <p class="mb-1">Ph.D., R.N.</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
